/*Ghost Planet Theme*/
#background{
margin:0 auto;padding:0;
background-color:#000;
background-image:url('http://i.imgur.com/XviiYHD.jpg');
background-repeat:no-repeat;
position:fixed;
background-position:top center;
width:100%;
height:1527px;
}
#logo{
background-image: url('http://i.imgur.com/nH06nvH.png');
height: 137px;
width: 378px;
margin-top: -192px;
margin-left: 50px;
position: absolute;
background-repeat: no-repeat;
}
#page.front{box-shadow:0 0 10px black, 0 0 1px 15px rgb(65, 2, 2);}
#page{background-color: #0E0E0E;border-radius:35px;border:solid 1px #0E0E0E;width:1050px;margin-bottom:75px;}
nav a {-webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.5);color: #4D413D;padding: 0 11px;margin: 0 6px;line-height: 30px;text-align: center;font-family: SF_TRANSROBOTICS,SF_TRANSROBOTICSIE;font-size: 23px;text-shadow: 0 0 10px black;text-decoration: none;z-index:50;}
.slide-out{
          background: #330606;
          border: 1px solid #000;
		  color: white;
}
.handle{
background: #330606;
}