/*Cartoon Theatre Theme*/
#background{
margin: 0 auto;
padding: 0;
background-color: #000;
background-image: url('http://i.imgur.com/P8vhvMy.jpg');
background-repeat: no-repeat;
position: fixed;
background-position: top center;
width: 100%;
height: 1527px;
}
#logo{
background-image: url('http://i.imgur.com/61apFnr.png');
height: 125px;
width: 500px;
margin-top: -168px;
margin-left:18px;
position: absolute;
background-repeat: no-repeat;
background-size: contain;
}
#page.front{box-shadow:0 0 3px 10px black, inset 0 0 6px black, 0 21px 60px black;}
#page{border:solid 2px #001427; border-radius:6px;width:1050px;margin-bottom:75px;
background: #a73131; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #a73131 0%, #8c2a2a 83%, #661e1e 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a73131), color-stop(83%,#8c2a2a), color-stop(100%,#661e1e)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #a73131 0%,#8c2a2a 83%,#661e1e 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #a73131 0%,#8c2a2a 83%,#661e1e 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #a73131 0%,#8c2a2a 83%,#661e1e 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #a73131 0%,#8c2a2a 83%,#661e1e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a73131', endColorstr='#661e1e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
nav a {
color: rgba(0, 0, 0, 0.5);
padding: 0 11px;
margin: 0 6px;
line-height: 30px;
text-align: center;
font-family: impact;
font-size: 21px;
text-shadow: 0 0 10px rgba(0, 0, 0, 0.77);
text-decoration: none;
z-index: 50;
letter-spacing: 2px;
}
.slide-out{
          background: #8F2525;
          border: 1px solid #000;
		  color: fefefe;
}
.handle{
background: #8F2525;
}