/*Christmas Theme*/
#background{
margin:0 auto;padding:0;
background-color:#000;
background-image:url('http://i.imgur.com/IyqX3v3.jpg');
/*day http://i.imgur.com/VJ0RHkd.jpg*/
/*twilight http://i.imgur.com/vIRtaqL.jpg*/
background-repeat:no-repeat;
position:fixed;
background-position:top center;
width:100%;
height:1527px;
}
#logo{
background-image: url('http://i.imgur.com/LRcwIv0.png');
height: 170px;
width: 500px;
margin-top: -166px;
position: absolute;
background-repeat: no-repeat;
}
#page.front{}
#page{border:solid 1px black; border-radius:5px;width:1050px;margin-bottom:75px;
background: #4c4643;
background: -moz-radial-gradient(center, ellipse cover,  #4c4643 46%, #21201c 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(46%,#4c4643), color-stop(100%,#21201c));
background: -webkit-radial-gradient(center, ellipse cover,  #4c4643 46%,#21201c 100%);
background: -o-radial-gradient(center, ellipse cover,  #4c4643 46%,#21201c 100%);
background: -ms-radial-gradient(center, ellipse cover,  #4c4643 46%,#21201c 100%);
background: radial-gradient(ellipse at center,  #4c4643 46%,#21201c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4643', endColorstr='#21201c',GradientType=1 );
}
nav a {-webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.5);color: #4D413D;padding: 0 11px;margin: 0 6px;line-height: 30px;text-align: center;font-family: SF_TRANSROBOTICS,SF_TRANSROBOTICSIE;font-size: 23px;text-shadow: 0 0 10px black;text-decoration: none;z-index:50;}
.slide-out{
          background: #28221F;
          border: 1px solid #000;
		  color: white;
}
.handle{
background: #28221F;
}

#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('../css/images/s1.png'), url('../css/images/s2.png'), url('../css/images/s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

#theme-fx-toggle{display:block !important};